@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-amber-50 text-amber-950 select-none;
    }

    h1, .h1 {
        font-size: 5rem;
    }

    h2, .h2 {
        font-size: 3.812rem;
    }

    h3, .h3 {
        font-size: 2.938rem;
    }

    h4, .h4 {
        font-size: 2.250rem;
    }

    h5, .h5 {
        font-size: 1.688rem;
    }

    h6, .h6 {
        font-size: 1.312rem;
    }

    p, .p {
        font-size: 1rem;
    }

    .body {
        font-size: 1rem;
    }

    small, .small {
        font-size: 0.850rem;
    }
}

@layer components {
    .btn {
        @apply text-2xl h-12 px-5 inline-flex items-center justify-center bg-amber-400 text-black uppercase font-bold rounded-lg border-2 border-black;
    }

    .button {
        @apply h-8 px-5 inline-flex items-center justify-center bg-slate-500 text-white uppercase rounded-lg;
    }

    .btn-group {
        @apply flex gap-4 flex-wrap items-center justify-center mt-4 border-2 border-dashed border-amber-500 rounded-3xl p-5;
    }
}